.card__layout {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(260px, 308px));
   gap: 1.5rem;
}

@media (max-width: 576px) {
   .card__layout {
      grid-template-columns: 1fr;
   }
}
